.image {
    object-fit: cover;
    border-radius: 20%;
    border: 2px solid #ccc;
    grid-row: span 2 / span 2;
    margin-right: -20%;
    max-width: 100%;
    height: auto;
}

.text-container {
    grid-row: span 2 / span 2;
}

.home-card {
    padding: min(5rem, 8%);
    border-radius: 12px;
    max-width: 1000px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    margin-bottom: 10vw;
    margin-top: 10vw;
    transition: box-shadow 1s ease-in;
    transition: backdrop-filter 0.5s ease-in-out;
}

.home-card:hover {
    box-shadow: 0 2px 50px lightblue;
    backdrop-filter: blur(10px);
}

.home-card h1 {
    color: lightblue;
    font-size: clamp(3rem, calc(2.5vw + 1rem), 5rem);
}

.home-card p {
    color: lightgray;
}
