html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #171920;
  width: 100%;
}
main {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
}

.section {
  height: fit-content;
  width: 80%;
  padding: 5rem;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  position: relative;
}

.card {
  background-color: darkblue;
  padding: 5rem 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px lightblue;
  max-width: 1000px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  
}


.card h1 {
  margin-bottom: 0.5rem;
  color: #3463ff;
}

.card p {
  font-size: 1rem;
  color: #b4b4b4;
}
