html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: calc(100vw - 17px);
  justify-content: center;
  align-items: center;
  background-color: #171920;
}

.section {
  height: fit-content;
  width: 100%;
  padding: 5rem;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  position: relative;
  
}

.card {
  padding: min(5rem, 8%);
  border-radius: 12px;
  box-shadow: 0 2px 50px lightblue;
  max-width: 1000px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}

.card h1 {
  margin-bottom: 0.5rem;
  font-size: clamp(2rem, 3.5vw, 5rem);
  color: #3463ff;
}

.card p {
  font-size: 1rem;
  color: #b4b4b4;
}
