html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: calc(100vw - 17px);
  justify-content: center;
  align-items: center;
  background-color: #171920;
  background-image: url(./assets/bluebackground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.section {
  height: fit-content;
  width: 100%;
  padding: 5rem;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  position: relative;
  
}

.card {
  padding: min(5rem, 8%);
  border-radius: 12px;
  max-width: 1000px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  transition: box-shadow 1s ease-in;
  transition: backdrop-filter 0.5s ease-in-out;
}

.card:hover {
  box-shadow: 0 2px 50px lightblue;
  backdrop-filter: blur(10px);
}

.card h1 {
  margin-bottom: 0.5rem;
  font-size: clamp(3rem, calc(2.5vw + 1rem), 5rem);
  color: #3463ff;
}

.card p {
  font-size: 1rem;
  color: #b4b4b4;
}
